{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  body {
    background-image: url('/static/logbg2.jpg'); /* Path to your background image */
    /* Additional styling for the background */
    background-size: 700px 700px; /* Set the background image size to 700px by 700px */
    background-position: left -100px bottom -100px; /* Position the background image */
    background-repeat: no-repeat; /* Prevent background from repeating */
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: white; /* Light Pink */
    border: 1px solid #f48fb1; /* Lighter Pink */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content */
  }

  .form-signin label {
    margin-bottom: 5px;
    color: #d81b60; /* Dark Pink */
    font-weight: bold;
    text-align: left; /* Align labels to the left */
    margin-left: 10px; /* Adjusted spacing */
    display: block; /* Ensure labels are displayed on their own line */
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #f48fb1; /* Lighter Pink */
    border-radius: 4px;
  }
  .form-signin .form-control:focus {
    border-color: #f06292; /* Darker Pink */
    box-shadow: 0 0 0 0.2rem rgba(240, 98, 146, 0.25); /* Darker Pink */
  }

  .h3  {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .error-message {
    color: #d81b60; /* Dark Pink */
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
  }

  .btn-primary {
    background-color: #ec407a; /* Dark Pink */
    border-color: #ec407a; /* Dark Pink */
    color: #fff;
    padding: 10px;
    font-size: 18px;
  }

  .btn-primary:hover {
    background-color: #d81b60; /* Light Pink */
    border-color: #d81b60; /* Light Pink */
  }
</style>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

<form class="form-signin" method="post">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>
  <label for="inputEmail">Email:</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
 
  <label for="inputEmail">Username:</label>
  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
 
  <label for="inputPassword1">Password:</label>
  <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

  <label for="inputPassword2">Confirm Password:</label>
  <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>

  {% for field in registration_form %}
      <p class="error-message">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  {% endfor %}
  {% if registration_form.non_field_errors %}
    <p class="error-message">{{registration_form.non_field_errors}}</p>
  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

</form>
</div>

{% endblock content %}